body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: #f2f2f2;
}
div.container_login{
    width: 390px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 3px -2px rgba(0, 0, 0, 0.4);
}
div.wrap_login{
    width: 390px;
    background: #fff;
    border-radius: 10px;
    width: 100%;
}
form.login_form{
    padding: 77px 55px 33px 55px;
    display: flex;
    flex-direction: column;
}
span.login_form_title{
    display: block;
    font-size: 30px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 26px;
    font-weight: bold;
}
span.login_form_icon{
    display: block;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 48px;
}
div.validate_input{
    position: relative;
    width: 100%;
    border-bottom: 2px solid #adadad;
    margin-bottom: 37px;
}
input{
    outline: none;
    border: none;
}
input.input100{
    font-size: 15px;
    color: #555555;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 45px;
    background: transparent;
    padding: 0 5px;
}
div.container_form_btn{
margin-top: 20px;
}
input.input_btn{
    border-radius: 25px;
    width: 100%;
    height: 50px;
    font-family: sans-serif;
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    background: #6a7dfe; /* Для браузеров, которые не поддерживают градиенты */
    background: -webkit-linear-gradient(left, #21d4fd 15%, #b721ff); /* Для Safari 5.1 - 6.0 */
    background: -o-linear-gradient(left, #21d4fd 15%, #b721ff); /* Для Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(left, #21d4fd 15%, #b721ff); /* Для Firefox 3.6 - 15 */
    background: linear-gradient(left, #21d4fd 15%, #b721ff);
    transition: background 1s;
}
input.input_btn:hover{
    cursor: pointer;
}
div.text_center{
    margin-top: 115px;
    text-align: center;
}